$dark-color: #141f27;
$light-color:#636b6f;

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}
body{
    height:100%;
}
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

body{
    background-color: white;
    height:100%;
}
.container, .row{
    height:100%;
}

#nav{
    height:80px;
    padding: 20px;
    background-color: #141f27;
}
@media only screen and (min-width: 768px) {
    #nav a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
        font-size: larger;
        color: white;
        font-weight: bold;
    }
}