html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  margin: 0;
}

body {
  height: 100%;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

body {
  background-color: white;
  height: 100%;
}

.container,
.row {
  height: 100%;
}

#nav {
  height: 80px;
  padding: 20px;
  background-color: #141f27;
}

@media only screen and (min-width: 768px) {
  #nav a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
    font-size: larger;
    color: white;
    font-weight: bold;
  }
}

.whatsup {
  display: flex;
}

textarea {
  background-color: #141f27;
  width: inherit;
  color: #AAB8C2;
  font-size: medium;
  font-weight: bold;
  border: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  resize: none;
}

.avatar {
  padding: 0.5em;
}

.tweet-container {
  display: flex;
}

.tweet-body {
  padding-top: 0.6em;
  font-weight: bold;
  width: 100%;
}

.avatar-tweeto {
  padding: 0.5em;
}

.tweet-interaction {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

.twitter-logo {
  width: 3em;
  height: 2em;
}

a {
  text-decoration: none;
  color: inherit;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.7;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.7;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.7;
  /* Firefox */
}

.vertical-ligne {
  border-left: 2px solid gray;
  height: 50px;
  left: 20%;
  margin-left: 3em;
  top: 0;
  margin-top: -30px;
  margin-bottom: -10px;
}

/*heart/like animation*/

[class=heart] {
  position: absolute;
  left: -100vw;
}

@-webkit-keyframes heart {
  0%, 17.5% {
    font-size: 0;
  }
}

@keyframes heart {
  0%, 17.5% {
    font-size: 0;
  }
}

[class=heart]:checked + label {
  will-change: font-size;
  -webkit-animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
          animation: heart 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}

.tweet-container:hover {
  background-color: rgba(66, 75, 82, 0.3);
}

.continer:hover {
  background-color: rgba(66, 75, 82, 0.3);
}

#nav {
  display: flex;
  flex-direction: row;
}

#dropdown-col1-mobile,
#mobileTweetBtn {
  display: none;
}

.btn-circle {
  border-radius: 30px;
  width: 50px;
  height: 40px;
  padding: 6px 0px;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857;
}

@media only screen and (max-width: 767px) {
  #right,
  #left,
  #drpdwncntn,
  #tweetForm {
    display: none;
  }

  #middle {
    width: 100% !important;
    margin-left: 0% !important;
  }

  #dropdown-col1-mobile {
    display: block;
    background-color: #141f27;
  }

  #mobileTweetBtn {
    display: block;
  }

  #nav a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
    color: white;
  }

  #home-nav {
    margin: 1em;
  }
}

.noHover {
  text-decoration: none;
  color: white;
}

.bgColor {
  background-color: #141f27;
}

#at-view-64 {
  background-color: #141f27;
  color: white;
  border: 1px solid gray;
}

